<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('');">
    <h2 class="ltext-105 cl0 txt-center">
        About
    </h2>
</section>	
<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
    <div class="container">
        <div class="row p-b-148">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Our Story
                    </h3>
                    <p class="stext-113 cl6 p-b-26">
                        Chào mừng bạn đến với KRIK, nơi thời trang và phong cách cá nhân được kết nối bằng những cảm xúc chân thật nhất.

Chúng tôi bắt đầu hành trình này với một niềm đam mê mãnh liệt dành cho thời trang và mong muốn mang đến cho mọi người những thiết kế không chỉ đẹp mà còn mang tính ứng dụng cao, phù hợp với từng cá tính. Ý tưởng này xuất phát từ việc nhận thấy rằng thời trang không chỉ là những bộ trang phục, mà là cách bạn thể hiện chính mình, tự tin và tỏa sáng trong mọi khoảnh khắc
                    </p>
                    <p class="stext-113 cl6 p-b-26">

                    </p>
                    <p class="stext-113 cl6 p-b-26">
                        Hãy để KRIK giúp bạn tỏa sáng, từng ngày, từng khoảnh khắc!
                    </p>
                </div>
            </div>
            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img src="assets/images/about-01.jpg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Our Mission
                    </h3>
                    <p class="stext-113 cl6 p-b-26">
                    Tại KRIK, chúng tôi không chỉ bán quần áo. Chúng tôi bán sự tự tin, cảm hứng và niềm vui khi được sống đúng với bản thân mình. Tất cả sản phẩm đều được tuyển chọn kỹ lưỡng, từ các chất liệu cao cấp, thiết kế tinh tế đến sự tôn trọng với mọi đường nét và kiểu dáng cơ thể.
                    Giá trị cốt lõi:                   
                    </p>
                    <div class="bor16 p-l-29 p-b-9 m-t-22">
                        <p class="stext-114 cl6 p-r-40 p-b-11">
                            Cá nhân hóa: Mỗi người đều đặc biệt và xứng đáng với những lựa chọn phù hợp nhất.
                        </p>
                        <p class="stext-114 cl6 p-r-40 p-b-11">
                            Chất lượng: Chúng tôi luôn đặt chất lượng lên hàng đầu, đảm bảo rằng mọi sản phẩm đều mang lại sự thoải mái và bền vững.
                        </p>
                        <p class="stext-114 cl6 p-r-40 p-b-11">
                            Thời trang bền vững: Cam kết xây dựng một tương lai xanh, bằng cách hợp tác với các nhà cung cấp thân thiện với môi trường.    
                        </p>
                        <span class="stext-111 cl8">
                            Hành trình của bạn cùng KRIK không chỉ dừng lại ở việc mua sắm, mà còn là sự trải nghiệm, khám phá và tỏa sáng theo cách riêng. Chúng tôi luôn đồng hành cùng bạn để biến từng outfit trở thành một câu chuyện riêng đầy cảm hứng
                        </span>
                    </div>
                </div>
            </div>
            <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                <div class="how-bor2">
                    <div class="hov-img0">
                        <img src="assets/images/about-02.jpg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>